<a href="https://colab.research.google.com/github/Pramodgopinathan/FB-Growth/blob/main/FP_Growth.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

In [2]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

In [3]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

   Apple   Corn   Dill   Eggs  Ice cream  ...   Milk  Nutmeg  Onion  Unicorn  Yogurt
0  False  False  False   True      False  ...   True    True   True    False    True
1  False  False   True   True      False  ...  False    True   True    False    True
2   True  False  False   True      False  ...   True   False  False    False   False
3  False   True  False  False      False  ...   True   False  False     True    True
4  False   True  False   True       True  ...  False   False   True    False   False

[5 rows x 11 columns]

In [4]:
%pip install mlxtend --upgrade

Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Collecting mlxtend
  Downloading mlxtend-0.19.0-py2.py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 5.1 MB/s
Requirement already satisfied: scikit-learn>=0.20.3 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.1)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.19.5)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.5)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.0)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.4.1)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (3.0.6)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.3.2)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->mlxtend) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.3->mlxtend) (3.0.0)
Installing collected packages: mlxtend
  Attempting uninstall: mlxtend
    Found existing installation: mlxtend 0.14.0
    Uninstalling mlxtend-0.14.0:
      Successfully uninstalled mlxtend-0.14.0
Successfully installed mlxtend-0.19.0

In [5]:
from mlxtend.frequent_patterns import fpgrowth

fpgrowth(df, min_support=0.5)

    support   itemsets
0       1.0        (5)
1       0.8        (3)
2       0.6       (10)
3       0.6        (8)
4       0.6        (6)
5       0.8     (3, 5)
6       0.6    (10, 5)
7       0.6     (8, 3)
8       0.6     (8, 5)
9       0.6  (8, 3, 5)
10      0.6     (5, 6)

In [7]:
frequent_itemsets = fpgrowth(df, min_support=0.5, use_colnames=True)

frequent_itemsets

    support                     itemsets
0       1.0               (Kidney Beans)
1       0.8                       (Eggs)
2       0.6                     (Yogurt)
3       0.6                      (Onion)
4       0.6                       (Milk)
5       0.8         (Eggs, Kidney Beans)
6       0.6       (Yogurt, Kidney Beans)
7       0.6                (Onion, Eggs)
8       0.6        (Onion, Kidney Beans)
9       0.6  (Onion, Eggs, Kidney Beans)
10      0.6         (Milk, Kidney Beans)

In [11]:
# Compute the association rules based on the frequent itemsets
from mlxtend.frequent_patterns import association_rules

# compute and print the association rules
association_rules(frequent_itemsets, metric="confidence", min_threshold=0.5)

              antecedents            consequents  ...  leverage  conviction
0                  (Eggs)         (Kidney Beans)  ...      0.00         inf
1          (Kidney Beans)                 (Eggs)  ...      0.00         1.0
2                (Yogurt)         (Kidney Beans)  ...      0.00         inf
3          (Kidney Beans)               (Yogurt)  ...      0.00         1.0
4                 (Onion)                 (Eggs)  ...      0.12         inf
5                  (Eggs)                (Onion)  ...      0.12         1.6
6                 (Onion)         (Kidney Beans)  ...      0.00         inf
7          (Kidney Beans)                (Onion)  ...      0.00         1.0
8           (Onion, Eggs)         (Kidney Beans)  ...      0.00         inf
9   (Onion, Kidney Beans)                 (Eggs)  ...      0.12         inf
10   (Eggs, Kidney Beans)                (Onion)  ...      0.12         1.6
11                (Onion)   (Eggs, Kidney Beans)  ...      0.12         inf
12                 (Eggs)  (Onion, Kidney Beans)  ...      0.12         1.6
13         (Kidney Beans)          (Onion, Eggs)  ...      0.00         1.0
14                 (Milk)         (Kidney Beans)  ...      0.00         inf
15         (Kidney Beans)                 (Milk)  ...      0.00         1.0

[16 rows x 9 columns]